body {
  margin: 0;
  text-shadow: 1px 2px 4px #0a052b;
  text-align: center;
  font-family: "Karla", sans-serif;
  background-color: rgb(66, 66, 58);
  color: rgb(78, 192, 196);  

}

h2 {
  color: rgb(76, 200, 115);
  font-size: 40px;
}


 